{% extends "base.html" %}

{% block content %}
{{ super() }}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Caremit</a>
  </div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#download">Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-primary" onclick="location.href='/logout'">Log&nbsp;out</button>
      </li>
    </ul>
  </div>
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-5 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Welcome {{ user.get("name") }}!</h1>
          <p class="mb-5">Here is your individual analysis</p>

          <form action="/machinelearning" method=post enctype=multipart/form-data>
            <input type=file name=file multiple>
            <input type=submit value=Upload>
          </form>
          <!-- <form action="/machinelearning" method="POST" enctype="multipart/form-data">
            <div class="custom-file">
              <input type="file" class="custom-file-input" onchange="this.form.submit();" id="validatedCustomFile" required size = '50'>
              <input type=submit value=Upload>
              <label class="custom-file-label" for="validatedCustomFile">Upload more files...</label>
              <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>
          </form> -->
          <!-- <button type="button" class="btn btn-primary" onclick="location.href='/machinelearning'">Upload More</button> -->
        </div>
      </div>
      
      <div class="col-lg-7 my-auto">
        {{ result | safe }}
      </div>
    </div>
  </div>
</header>

<section class="contact bg-dark text-light" id="contact">
  <div class="container">
    <h2>Contact</h2>
    Your individual contact person:
    <ul class="list-inline">
      <li class="list-inline-item">
        <i class="fas fa-envelope"></i> mail: <a href="mailto:she@caremit.org">
            she@caremit.org
        </a>
      </li>
      <li class="list-inline-item">
        <i class="fas fa-phone"></i> phone: <a href="mailto:she@caremit.org">
          0049 157146152891
        </a>
      </li>
    </ul>
  </div>
</section>

{% endblock content %}
